.features {
  text-align: center;
}

.features_card {
  padding: 2rem;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 1rem;
  margin: .5rem;
  transition: 1s;
  position: relative;
  overflow: hidden;
}

.features_card div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.features_card:hover div {
  opacity: 1;
}

.intallation div{
  background-image: url("@site/static/img/installation.png");
}

.customize div {
  background-image: url("@site/static/img/custum.png");
}

.effortless div { 
  background-image: url("@site/static/img/effortless.png");
}

.getStarted {
  /* background-color: var(--ifm-color-primary); */
  padding: 3rem 1rem;
  text-align: center;
}

.margT10 {
  margin-top: 5rem;
}

.margB3 {
  margin-bottom: 3rem;
}

.padY5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .margT10 {
    margin-top: 3rem;
  }
}
