.installation {
    padding: 20vh 0;
}

@media (max-width: 998px) {
    .installation {
        padding: 10vh 0;
    }
}

.installation p {
    font-size: 20px;
}

.installation a {
    font-weight: bold;
}