@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3cb88f;
  --ifm-color-primary-dark: #0f9246;
  --ifm-color-primary-darker: #6f5389;
  --ifm-color-primary-darkest: #6f5389;
  --ifm-color-primary-light: #6f5389;
  --ifm-color-primary-lighter: #7c579e;
  --ifm-color-primary-lightest: #6f5389;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #bbabc8;
  --ifm-color-primary-dark: #bbabc8;
  --ifm-color-primary-darker: #bbabc8;
  --ifm-color-primary-darkest: #bbabc8;
  --ifm-color-primary-light: #bbabc8;
  --ifm-color-primary-lighter: #bbabc8;
  --ifm-color-primary-lightest: #bbabc8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Montserrat", sans-serif;
}
