@media (max-width: 998px) {
    .orderMax {
      display: block;
    }
    .orderMin {
      display: none;
    }
}

@media (min-width: 998px) {
  .orderMin {
    display: block;
  }
  .orderMax {
    display: none;
  }
}
